<?xml version="1.0" encoding="UTF-8"?>

 <web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee                       http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
 
 <servlet>
 <servlet-name>submitform</servlet-name>
 <servlet-class>com.submitservlet.SubmitServlet</servlet-class>
 </servlet>
 
 
 <servlet-mapping>
 <servlet-name>submitform</servlet-name>
 <url-pattern>/SubmitServlet</url-pattern>
 </servlet-mapping>
 
 <servlet>
 <servlet-name>userdata</servlet-name>
 <servlet-class>com.submitservlet.UserData</servlet-class>
 </servlet>
 
 <servlet-mapping>
 <servlet-name>userdata</servlet-name>
 <url-pattern>/UserData</url-pattern>
 </servlet-mapping>
 
</web-app>